## Spark DataFrame Basics

In [1]:
# Import pyspark
from pyspark.sql import SparkSession

In [2]:
# Creating spark object
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
spark

In [4]:
# Reading a json file
df = spark.read.json('people.json')

In [5]:
# Display dataframe
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
# Display the schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
# Display column names
df.columns

['age', 'name']

In [8]:
# Display statistical summary
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [10]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [11]:
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.json('people.json', schema=final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
type(df['age'])

pyspark.sql.column.Column

In [16]:
# Calling specific column
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
df.head(2)[0]

Row(age=None, name='Michael')

In [19]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [20]:
# Select multiple columns
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
# Adding new column
df.withColumn('newage', df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [22]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [23]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
# Renaming a column
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

## Spark SQL

In [25]:
# Register dataframe sql temp view
df.createOrReplaceTempView('people')

In [26]:
results = spark.sql("SELECT * FROM people")

In [27]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [28]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [29]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+