In [ ]:
# Installing required packages

In [ ]:
! pip install findspark

In [ ]:
! pip install pyspark

In [ ]:
import findspark
findspark.init()

In [ ]:
# Initializing Spark Session
import pandas as pd
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [ ]:
# Building the SparkContext and Session

# Creating a SparkContext Class
sc = SparkContext()

# Creating a SparkSession
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-calue") \
    .getOrCreate()

In [ ]:
# Loading the data and creating the Table View

# Reading the data using pandas
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-BD0225EN-SkillsNetwork/labs/data/mtcars.csv"
mtcars = pd.read_csv(file_path)

mtcars.head()

In [ ]:
# Pandas renaming the column 
mtcars.rename(columns={'Unnamed: 0':'name'}, inplace=True)

In [ ]:
mtcars.columns

In [ ]:
# Loading the dataframe into Spark

# Creating spark dataframe from pandas dataframe
sdf = spark.createDataFrame(mtcars)

In [ ]:
sdf.printSchema()

## Creating Table View

The table view is required for **Spark SQL** to run queries. The table view is treated as a SQL table.

There are two ways to create a table view.
1. Temporary view
2. Global view

In [ ]:
# Creating a temporary table view
sdf.createTempView("cars")

In [ ]:
# Running the SQL Queries and Data Aggregation

spark.sql("SELECT * FROM cars").show()

In [ ]:
spark.sql("SELECT mpg FROM cars").show(5)