In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession \
        .builder \
        .appName("Spark SQL Query Dataframes") \
        .getOrCreate()

In [18]:
data_path = "D:/DE Projects/Data-Engineering-Projects-Notes/Data Engineering Projects/Spark SQL Tutorials/Data"

json_path = data_path + "/utilization.json"
df_json = spark.read.format("json").load(json_path)

In [19]:
df_json.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [20]:
df_json.createOrReplaceTempView("utilization")

In [21]:
df_sql = spark.sql("select * from utilization limit 10")

In [22]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [23]:
df_sql.count()

10

## Removing Duplicates from PySpark DataFrame

In [24]:
from pyspark.sql import Row

In [25]:
df_dup = spark.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80), \
                        Row(server_name='101 Server', cpu_utilization=80, session_count=90), \
                        Row(server_name='102 Server', cpu_utilization=85, session_count=80), \
                        Row(server_name='102 Server', cpu_utilization=85, session_count=80)]).toDF()

AttributeError: 'SparkSession' object has no attribute 'parallelize'