## Spark DataFrame Basics

In [1]:
# Import pyspark
from pyspark.sql import SparkSession

In [2]:
# Creating spark object
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
spark

In [4]:
# Reading a json file
df = spark.read.json('people.json')

In [6]:
# Display dataframe
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
# Display the schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
# Display column names
df.columns

['age', 'name']

In [10]:
# Display statistical summary
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField, StringType, 
                               IntegerType, StructType)

In [12]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [13]:
final_struc = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json', schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)